
/********** Base styles **********/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
}

div#container {
  width: 100%;
}

		/********** Style the Sections **********/
#section1 {
	  background-color: #D7F5F1;
	}
#section2 {
	  background-color: #E2D7F5;
	}
#section3 {
	  background-color: #D7F5F1;
	}


div#section1, div#section2, div#section3 {
  width: 32%;
  border: 1px solid black;
  float: left;
  padding: 10px;
  margin: 0.5%;
}

		/********** Sections title rop right**********/
.section_title {
   position:relative;
   float: right;
   top: -10px;
   right: -10px;
   width: 33%;
   border-bottom: 1px solid black;
   border-left: 1px solid black;
   text-align: center;
   font-size: 1.2em;
}

.first_paragraph {
	clear: right;
}

/********** Large devices only (Desktop Version) **********/
@media (min-width: 992px) {

  
}

/********** Medium devices only (Tablet View)**********/
@media (min-width: 768px) and (max-width: 991px) {
 
}

/********** Small devices only (Mobile View)**********/
@media (max-width: 767px) {
 
}